* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(237, 246, 240);
  font-family: "Roboto Mono", monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a1a1a;
}

.title {
  color: #fff;
  margin: 10px 20px 10px;
  font-size: 45px;
}

.nav-links {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  background-color: #1a1a1a;
  width: 100%;
  z-index: 1;
  transition: right 0.5s ease;
}

.nav-links ul {
  list-style: none;
  text-align: left;
  font-size: 30px;
  padding: 0;
  margin-bottom: 0;
}

.nav-links li {
  padding: 12px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #c3f5a5;
  text-decoration: none;
}

.fa-ellipsis {
  font-size: 30px;
  margin: 20px 25px 20px;
  cursor: pointer;
}

.fa-circle-xmark {
  cursor: pointer;
  font-size: 30px;
  margin: 20px 10px 20px;
}

 /*---------- STATUS PAGES ----- */

 .status{
  color: #e67c7c;
  font-size: 15px;
}

/*---------------------------- */

.section-title h2 {
  margin: 20px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: black;
}

.infobox{
  background: #fff;
  margin: 20px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width: 95vw;
  margin: 0 auto;
}

.continent{
  margin-bottom: 10px;
}

.collapsible {
  background-color: #1a1a1a;;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-size: 35px;
}


.active, .collapsible:hover {
  background-color: #b7c1b1;
  color: black;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0px 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background-color: #fff;
}

.content p{
  padding: 10px;
}



